@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

/* Loader */
.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.curve {
    position: absolute;
    width: 100%;
    height: 100px;
    border: 7px solid black;
    border-color: transparent transparent black transparent;
    border-radius: 0 0 30% 30%;
}